In [1]:
import numpy as np
import pandas as pd
import requests

In [40]:
build_raw = pd.read_csv("data/311_Service_Requests_-_Vacant_and_Abandoned_Buildings_Reported.csv")
light_raw = pd.read_csv("data/311_Service_Requests_-_Alley_Lights_Out.csv")

In [41]:
build = build_raw.dropna(subset=['ADDRESS STREET NUMBER', 'ADDRESS STREET DIRECTION','ADDRESS STREET NAME', 'ADDRESS STREET SUFFIX'])
light = light_raw[light_raw['Status'].isin(['Completed', 'Open'])]

In [128]:
def address_update(address_list):
    new_address = []
    for i in address_list:
        temp = i.split()
        i = '+'.join(temp)
        new_address.append(i)
    return new_address

In [129]:
def request_tract(update_address):
    by_tract = []
    for street in update_address:
        url='https://geocoding.geo.census.gov/geocoder/geographies/address?street={}&city=Chicago&state=IL&benchmark=Public_AR_Census2010&vintage=Census2010_Census2010&layers=14&format=json'.format(street)
        r = requests.get(url)
        rv = r.json()
        try:
            county = rv['result']['addressMatches'][0]['geographies']['Census Blocks'][0]['COUNTY']
            tract = rv['result']['addressMatches'][0]['geographies']['Census Blocks'][0]['TRACT']
        except:
            county = None
            tract = None
        by_tract.append((county, tract))
    return by_tract

In [130]:
def request_acs(by_tract):
    colnames = ('Total Population', 'White', 'Male', 'Median Family Income', 'Average Household Size','State','County','Tract')
    acs_df = pd.DataFrame(columns=colnames)
    for i in by_tract:
        county = i[0]
        tract = i[1]
        if county != None:
            url ='https://api.census.gov/data/2015/acs5?get=B01003_001E,B02001_002E,B05003_002E,B19113_001E,B25010_001E&for=tract:{}&in=state:17%20county:{}&key=9d0f16e1040555cc09541467125125184391eed1'.format(tract, county)
            r = requests.get(url)
            rv = r.json()
            values = [rv[1]]
        else:
            values = [[np.nan]*len(colnames)]
        df_temp = pd.DataFrame(values, columns=colnames)
        acs_df = acs_df.append(df_temp, ignore_index=True)
    return acs_df

In [131]:
cutoff = -3000

In [132]:
light_address = light['Street Address'].tolist()
light_address_upate = address_update(light_address)
light_by_tract = request_tract(light_address_upate[cutoff:])
light_acs_df = request_acs(light_by_tract)

In [133]:
light_select = light[cutoff:].reset_index(drop=True)
light_aug = pd.concat([light_select, light_acs_df], axis=1)
light_aug = light_aug.dropna(subset=['Total Population', 'White', 'Male', \
                                     'Median Family Income', 'Average Household Size',\
                                     'State','County','Tract'])

In [134]:
build_broken_address = build[['ADDRESS STREET NUMBER', 'ADDRESS STREET DIRECTION',\
                              'ADDRESS STREET NAME', 'ADDRESS STREET SUFFIX']]
seam = build_broken_address.astype(str).apply(lambda x: ' '.join(x), axis=1)
build_address = seam.tolist()
build_address_upate = address_update(build_address)
build_by_tract = request_tract(build_address_upate[cutoff:])
build_acs_df = request_acs(build_by_tract)

In [135]:
build_select = build[cutoff:].reset_index(drop=True)
build_aug = pd.concat([build_select, build_acs_df], axis=1)
build_aug = build_aug.dropna(subset=['Total Population', 'White', 'Male', 'Median Family Income', \
                                     'Average Household Size','State','County','Tract'])

In [136]:
light_aug

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,...,Longitude,Location,Total Population,White,Male,Median Family Income,Average Household Size,State,County,Tract
0,10/23/2017,Completed,02/05/2018,17-07137431,Alley Light Out,8545 S KOMENSKY AVE,60652.0,1.150896e+06,1.847587e+06,18.0,...,-87.722743,"(41.73766259919805, -87.7227431864573)",5314,3270,2699,68300,3.17,17,031,700302
1,10/23/2017,Completed,02/23/2018,17-07126845,Alley Light Out,2301 S ALBANY AVE,60623.0,1.156053e+06,1.888548e+06,12.0,...,-87.702750,"(41.84996535829246, -87.70275048920605)",4133,2807,2193,22098,3.42,17,031,300900
2,10/23/2017,Completed,02/27/2018,17-07118176,Alley Light Out,5912 S GREEN ST,60621.0,1.171650e+06,1.865645e+06,16.0,...,-87.646178,"(41.786787035586556, -87.64617789056379)",1458,3,581,33977,2.49,17,031,834800
3,10/23/2017,Completed,03/14/2018,17-07125401,Alley Light Out,2826 W RASCHER AVE,60625.0,1.156531e+06,1.936077e+06,40.0,...,-87.699707,"(41.9803796483561, -87.6997070911538)",2912,1871,1260,100667,2.65,17,031,040300
4,10/23/2017,Completed,03/21/2018,17-07121555,Alley Light Out,1449 W BERTEAU AVE,60613.0,1.165744e+06,1.927992e+06,47.0,...,-87.666058,"(41.95799984741158, -87.666057596573)",2675,2324,1184,199792,2.27,17,031,060100
5,10/23/2017,Completed,03/27/2018,17-07139249,Alley Light Out,5130 W NEWPORT AVE,60641.0,1.141526e+06,1.922453e+06,31.0,...,-87.755229,"(41.94328356636667, -87.7552289273063)",2371,1516,1193,52639,2.78,17,031,151001
6,10/23/2017,Open,NaN,17-07119465,Alley Light Out,4524 W ADAMS ST,60624.0,1.146155e+06,1.898628e+06,28.0,...,-87.738820,"(41.87781913433062, -87.73882015403105)",1685,21,664,36875,2.91,17,031,252101
7,10/23/2017,Open,NaN,17-07124324,Alley Light Out,7435 S KENWOOD AVE,60619.0,1.186497e+06,1.855967e+06,8.0,...,-87.592047,"(41.75989264958036, -87.59204708602742)",3440,69,1335,26250,3,17,031,430400
8,10/23/2017,Open,NaN,17-07126073,Alley Light Out,1824 W CUYLER AVE,60613.0,1.163386e+06,1.926937e+06,47.0,...,-87.674755,"(41.95515456999286, -87.67475505399408)",2564,2258,1250,109213,2.19,17,031,050100
9,10/23/2017,Open,NaN,17-07127045,Alley Light Out,6447 S KEELER AVE,60629.0,1.149480e+06,1.861515e+06,13.0,...,-87.727572,"(41.775912687046265, -87.7275717743906)",5798,3258,3003,59471,3.69,17,031,650301
10,10/23/2017,Open,NaN,17-07127130,Alley Light Out,9534 S AVENUE L,60617.0,1.201772e+06,1.842437e+06,10.0,...,-87.536528,"(41.72238957605856, -87.53652775634212)",4120,3410,2031,35659,3.94,17,031,520200
11,10/23/2017,Open,NaN,17-07127259,Alley Light Out,3341 W 38TH PL,60632.0,1.154723e+06,1.878875e+06,12.0,...,-87.707889,"(41.82344686159786, -87.7078887901621)",2381,1096,1246,40368,3.58,17,031,580300
12,10/23/2017,Open,NaN,17-07130946,Alley Light Out,5720 S HOMAN AVE,60629.0,1.154689e+06,1.866482e+06,23.0,...,-87.708344,"(41.789439711399694, -87.70834415829363)",5347,1545,2741,46618,3.97,17,031,630900
13,10/23/2017,Open,NaN,17-07131008,Alley Light Out,7500 S RIDGELAND AVE,60649.0,1.189170e+06,1.855595e+06,8.0,...,-87.582262,"(41.75880668597298, -87.58226236494848)",4375,108,1838,35662,2.32,17,031,834200
14,10/23/2017,Open,NaN,17-07131714,Alley Light Out,3100 N CENTRAL AVE,60634.0,1.138493e+06,1.920052e+06,31.0,...,-87.766435,"(41.93675250285054, -87.76643483203638)",5178,3010,2432,48026,3.43,17,031,190402
15,10/23/2017,Open,NaN,17-07132974,Alley Light Out,1600 N PAULINA ST,60622.0,1.164768e+06,1.910709e+06,32.0,...,-87.670134,"(41.91059721990023, -87.67013431905363)",1507,1350,835,160000,1.9,17,031,240200
16,10/23/2017,Open,NaN,17-07132978,Alley Light Out,1638 N PAULINA ST,60622.0,1.164761e+06,1.910965e+06,32.0,...,-87.670153,"(41.9112979308051, -87.67015315015442)",1507,1350,835,160000,1.9,17,031,240200
17,10/23/2017,Open,NaN,17-07135447,Alley Light Out,2334 N MEADE AVE,60639.0,1.135350e+06,1.914873e+06,36.0,...,-87.778108,"(41.92259459961565, -87.77810821265972)",5677,1706,3034,38984,3.96,17,031,191301
18,10/23/2017,Open,NaN,17-07137430,Alley Light Out,8535 S KOMENSKY AVE,60652.0,1.150894e+06,1.847654e+06,18.0,...,-87.722749,"(41.73784759962209, -87.72274949483123)",5314,3270,2699,68300,3.17,17,031,700302
19,10/23/2017,Open,NaN,17-07140960,Alley Light Out,2910 S QUINN ST,60608.0,1.170328e+06,1.885303e+06,11.0,...,-87.650455,"(41.840759769473884, -87.65045460725692)",2580,808,1230,67727,3.14,17,031,840200
20,10/23/2017,Open,NaN,17-07142036,Alley Light Out,4910 S PRINCETON AVE,60609.0,1.175116e+06,1.872415e+06,3.0,...,-87.633268,"(41.80528955564229, -87.63326765937667)",1020,20,450,44286,2.87,17,031,835600
21,10/23/2017,Open,NaN,17-07142310,Alley Light Out,307 E 76TH ST,60619.0,1.179427e+06,1.854683e+06,6.0,...,-87.618001,"(41.75653179072709, -87.61800061706197)",2658,20,1441,57904,2.87,17,031,691300
22,10/23/2017,Completed,03/28/2018,17-07130262,Alley Light Out,8527 S ADA ST,60620.0,1.168816e+06,1.848217e+06,21.0,...,-87.657073,"(41.73902455602826, -87.65707339319196)",2658,0,1085,45781,2.51,17,031,711100
23,10/24/2017,Completed,10/24/2017,17-07147336,Alley Light Out,2959 W GLENLAKE AVE,60659.0,1.155444e+06,1.940361e+06,50.0,...,-87.703588,"(41.99215582470512, -87.70358804381328)",7833,4807,4153,63333,3.45,17,031,020702
24,10/24/2017,Completed,10/24/2017,17-07150149,Alley Light Out,8149 S COMMERCIAL AVE,60617.0,1.197607e+06,1.851510e+06,7.0,...,-87.551481,"(41.747392674556984, -87.55148106568328)",3751,624,1840,33313,3.12,17,031,460100
25,10/24/2017,Completed,10/24/2017,17-07156234,Alley Light Out,4908 W GEORGE ST,60641.0,1.143158e+06,1.918834e+06,31.0,...,-87.749319,"(41.933322668635064, -87.74931921773052)",5591,2288,2801,52083,3.73,17,031,190200
27,10/24/2017,Completed,10/25/2017,17-07146499,Alley Light Out,1554 W 115TH ST,60643.0,1.168065e+06,1.828465e+06,34.0,...,-87.660389,"(41.684838137390095, -87.66038926798528)",3595,4,1559,56667,3.14,17,031,750600
28,10/24/2017,Completed,10/25/2017,17-07146654,Alley Light Out,902 W ARGYLE ST,60640.0,1.169364e+06,1.933613e+06,48.0,...,-87.652583,"(41.97334583754345, -87.65258276974741)",7796,3412,3748,52775,1.77,17,031,031300
29,10/24/2017,Completed,10/25/2017,17-07146664,Alley Light Out,850 W ARGYLE ST,60640.0,1.169635e+06,1.933620e+06,48.0,...,-87.651588,"(41.97336026076872, -87.6515883269963)",7796,3412,3748,52775,1.77,17,031,031300
30,10/24/2017,Completed,10/25/2017,17-07146713,Alley Light Out,832 W ARGYLE ST,60640.0,1.169729e+06,1.933623e+06,48.0,...,-87.651241,"(41.97336533110604, -87.65124075463525)",7796,3412,3748,52775,1.77,17,031,031300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,12/28/2017,Completed,03/28/2018,17-08632715,Alley Light Out,1150 E 72ND ST,60619.0,1.185216e+06,1.857508e+06,5.0,...,-87.596694,"(41.764150755963776, -87.5966942750899)",2599,8,1057,32474,2.89,17,031,841800
2971,12/29/2017,Open,NaN,17-08652504,Alley Light Out,2125 W IRVING PARK RD,60618.0,1.161374e+06,1.926539e+06,47.0,...,-87.682164,"(41.95410628041437, -87.68216434387189)",5541,4866,2741,108542,2.51,17,031,050500
2972,12/29/2017,Open,NaN,17-08660585,Alley Light Out,8221 S LUELLA AVE,60617.0,1.192614e+06,1.850902e+06,8.0,...,-87.569796,"(41.745845258535944, -87.56979588536255)",4768,125,1805,43634,2.22,17,031,460500
2973,12/29/2017,Open,NaN,17-08661148,Alley Light Out,10647 S KEDZIE AVE,60655.0,1.156900e+06,1.833837e+06,19.0,...,-87.701117,"(41.69981185711296, -87.70111697873764)",2945,2866,1382,96250,2.7,17,031,740100
2974,12/29/2017,Open,NaN,17-08661334,Alley Light Out,4319 W ROSCOE ST,60641.0,1.146898e+06,1.922250e+06,30.0,...,-87.735487,"(41.94262693490784, -87.7354871582912)",2812,2141,1491,59276,3.14,17,031,161200
2975,12/29/2017,Open,NaN,17-08661870,Alley Light Out,8311 S BURLEY AVE,60617.0,1.199256e+06,1.850483e+06,10.0,...,-87.545472,"(41.74453226830806, -87.5454722000194)",2523,961,1240,29292,3.06,17,031,460200
2976,12/29/2017,Open,NaN,17-08663057,Alley Light Out,3655 N LOTUS AVE,60641.0,1.139375e+06,1.923770e+06,36.0,...,-87.763101,"(41.94693798697379, -87.7631010521451)",4577,3657,2404,75179,3.03,17,031,150700
2977,12/29/2017,Open,NaN,17-08674532,Alley Light Out,6141 W 62ND ST,60638.0,1.136428e+06,1.862780e+06,13.0,...,-87.775390,"(41.77962444805361, -87.77539013721712)",7018,4548,3306,77500,3.08,17,031,640300
2978,12/29/2017,Completed,01/03/2018,17-08655136,Alley Light Out,5001 N DRAKE AVE,60625.0,1.151815e+06,1.932999e+06,39.0,...,-87.717133,"(41.972027741643394, -87.71713277806116)",6002,3316,3017,44474,2.98,17,031,140200
2979,12/29/2017,Completed,01/03/2018,17-08662757,Alley Light Out,8500 S COMMERCIAL AVE,60617.0,1.197623e+06,1.849188e+06,10.0,...,-87.551496,"(41.7410189122716, -87.55149648082327)",2595,592,1246,42434,2.8,17,031,460301
2980,12/29/2017,Completed,01/03/2018,17-08664526,Alley Light Out,6721 W TALCOTT AVE,60656.0,1.130416e+06,1.935575e+06,41.0,...,-87.795763,"(41.97949175942148, -87.79576302166114)",5125,4495,2422,90265,2.69,17,031,100600
2981,12/29/2017,Completed,01/04/2018,17-08658153,Alley Light Out,5830 S KILDARE AVE,60629.0,1.148698e+06,1.865598e+06,13.0,...,-87.730336,"(41.78713165542148, -87.73033648828648)",7371,4205,3934,50348,3.68,17,031,620300
2982,12/29/2017,Completed,01/08/2018,17-08667375,Alley Light Out,4915 W 63RD ST,60638.0,1.144642e+06,1.862378e+06,13.0,...,-87.745289,"(41.77837226417685, -87.74528916633997)",3221,2110,1472,60526,3.03,17,031,640700
2983,12/29/2017,Completed,01/09/2018,17-08660027,Alley Light Out,5917 S RUTHERFORD AVE,60638.0,1.132413e+06,1.864554e+06,13.0,...,-87.790072,"(41.78456545990209, -87.79007188765124)",3819,2766,1850,81707,3.06,17,031,640400
2984,12/29/2017,Completed,01/09/2018,17-08671211,Alley Light Out,2836 W 83RD PL,60652.0,1.158854e+06,1.849138e+06,18.0,...,-87.693545,"(41.741761437448666, -87.69354475124247)",3162,107,1598,101339,2.91,17,031,700502
2985,12/29/2017,Completed,01/23/2018,17-08669120,Alley Light Out,1327 W COLUMBIA AVE,60626.0,1.166122e+06,1.944934e+06,49.0,...,-87.664181,"(42.00448173288988, -87.66418095193758)",3413,1980,2009,54250,2.24,17,031,010502
2986,12/29/2017,Completed,02/05/2018,17-08657844,Alley Light Out,6544 S PULASKI RD,60629.0,1.150831e+06,1.860800e+06,13.0,...,-87.722641,"(41.7739226575552, -87.72264073003414)",5798,3258,3003,59471,3.69,17,031,650301
2987,12/29/2017,Completed,02/06/2018,17-08656253,Alley Light Out,3352 W 60TH PL,60629.0,1.155080e+06,1.864306e+06,23.0,...,-87.706971,"(41.783462076304, -87.70697073513786)",6330,2195,2821,48295,4.3,17,031,660400
2988,12/29/2017,Completed,02/14/2018,17-08656816,Alley Light Out,1541 N WELLS ST,60610.0,1.174423e+06,1.910564e+06,27.0,...,-87.634674,"(41.90998764878815, -87.63467363369963)",4733,3928,2232,150987,1.86,17,031,080300
2989,12/29/2017,Completed,03/08/2018,17-08662698,Alley Light Out,5448 W WILSON AVE,60630.0,1.139179e+06,1.930205e+06,45.0,...,-87.763666,"(41.96460010355375, -87.76366560784606)",8298,5641,4208,80780,2.79,17,031,150300
2990,12/29/2017,Completed,03/08/2018,17-08659666,Alley Light Out,5600 W 63RD ST,60638.0,1.140162e+06,1.862231e+06,13.0,...,-87.761715,"(41.77805330895573, -87.76171488691016)",7018,4548,3306,77500,3.08,17,031,640300
2991,12/30/2017,Open,NaN,17-08682137,Alley Light Out,5045 N CLAREMONT AVE,60625.0,1.159773e+06,1.933522e+06,40.0,...,-87.687856,"(41.97330066927764, -87.68785573373229)",3009,2279,1447,87702,2.33,17,031,040401
2992,12/30/2017,Open,NaN,17-08683808,Alley Light Out,2236 W MADISON ST,60612.0,1.161508e+06,1.899981e+06,27.0,...,-87.682412,"(41.88122651141171, -87.68241226890099)",3472,541,1796,52770,2.91,17,031,837800
2993,12/30/2017,Open,NaN,17-08688751,Alley Light Out,2641 W 36TH ST,60632.0,1.159343e+06,1.880693e+06,12.0,...,-87.690890,"(41.828342572659665, -87.69089011682433)",3043,1648,1629,40469,3.53,17,031,580100
2994,12/30/2017,Completed,01/04/2018,17-08677939,Alley Light Out,833 W GEORGE ST,60657.0,1.170211e+06,1.919473e+06,44.0,...,-87.649884,"(41.93452757756081, -87.64988407643015)",3160,2577,1416,143036,1.9,17,031,063000
2995,12/30/2017,Completed,01/04/2018,17-08686066,Alley Light Out,2600 N MANGO AVE,60639.0,1.137609e+06,1.916703e+06,30.0,...,-87.769765,"(41.927576513111994, -87.7697645941544)",5434,2270,2931,51563,3.73,17,031,190602
2996,12/31/2017,Open,NaN,17-08702313,Alley Light Out,3152 N HUDSON AVE,60657.0,1.172637e+06,1.921366e+06,44.0,...,-87.640912,"(41.939667995144454, -87.64091225435573)",6942,5660,3242,117569,1.6,17,031,063200
2997,12/31/2017,Completed,02/01/2018,17-08704538,Alley Light Out,7040 W 64TH PL,60638.0,1.130586e+06,1.860949e+06,23.0,...,-87.796851,"(41.77470389624848, -87.7968514691847)",3389,2797,1580,77886,2.45,17,031,640500
2998,12/31/2017,Open,NaN,17-08702805,Alley Light Out,6115 S ST LAWRENCE AVE,60637.0,1.181287e+06,1.864596e+06,20.0,...,-87.610878,"(41.783692952397736, -87.61087782416281)",1963,12,784,40929,2.25,17,031,420500
2999,12/31/2017,Open,NaN,17-08704681,Alley Light Out,5251 N LAPORTE AVE,60630.0,1.142355e+06,1.934610e+06,39.0,...,-87.751879,"(41.97662783617974, -87.7518790808156)",3671,2418,1696,103864,2.91,17,031,120400

In [137]:
build_aug

,SERVICE REQUEST TYPE,SERVICE REQUEST NUMBER,DATE SERVICE REQUEST WAS RECEIVED,"LOCATION OF BUILDING ON THE LOT (IF GARAGE, CHANGE TYPE CODE TO BGD).",IS THE BUILDING DANGEROUS OR HAZARDOUS?,IS BUILDING OPEN OR BOARDED?,"IF THE BUILDING IS OPEN, WHERE IS THE ENTRY POINT?",IS THE BUILDING CURRENTLY VACANT OR OCCUPIED?,IS THE BUILDING VACANT DUE TO FIRE?,"ANY PEOPLE USING PROPERTY? (HOMELESS, CHILDEN, GANGS)",...,Location,Street Address,Total Population,White,Male,Median Family Income,Average Household Size,State,County,Tract
0,Vacant/Abandoned Building,17-01255686,03/06/2017,Front,NaN,Open,FRONT DOOR AND WINDOWS,Vacant,False,True,...,"(41.761321812250145, -87.58843532676423)",7342 S BLACKSTONE AVE,3440,69,1335,26250,3,17,031,430400
2,Vacant/Abandoned Building,17-01252777,03/06/2017,Front,NaN,Open,FRONT DOOR,Vacant,False,True,...,"(41.756687813484675, -87.56269001851341)",7629 S KINGSTON AVE,3951,47,1779,28294,2.62,17,031,431302
3,Vacant/Abandoned Building,17-01268494,03/07/2017,Front,NaN,Open,FRONT WINDOWS,Vacant,False,False,...,"(41.864815165974605, -87.68436337133993)",1301 S HEATH AVE,2412,178,950,24200,2,17,031,842900
4,Vacant/Abandoned Building,17-01270404,03/07/2017,Rear,NaN,Open,REAR,Vacant,True,False,...,"(41.79524758174542, -87.67312149572605)",5429 S WINCHESTER AVE,1267,481,551,33698,2.89,17,031,611700
5,Vacant/Abandoned Building,17-01274593,03/07/2017,Front,NaN,Open,FRONT,Vacant,False,False,...,"(41.762316791460755, -87.65476135743857)",1222 W 72ND PL,1260,0,606,30179,3.51,17,031,671800
6,Vacant/Abandoned Building,17-01265000,03/07/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"(41.75724759729371, -87.63568152715143)",7544 S EGGLESTON AVE,3104,97,1385,38145,2.96,17,031,691200
7,Vacant/Abandoned Building,17-01273704,03/07/2017,Front,NaN,Boarded,NaN,Vacant,False,False,...,"(41.803162374959854, -87.65631838235922)",5005 S ELIZABETH ST,2324,1474,1179,22827,3.29,17,031,611100
8,Vacant/Abandoned Building,17-01280083,03/07/2017,Front,NaN,Open,SIDE,Vacant,False,False,...,"(41.70413266481273, -87.64834927877618)",1030 W 104TH PL,2345,7,1050,50924,3.21,17,031,730700
9,Vacant/Abandoned Building,17-01267720,03/07/2017,Front,NaN,Open,FRONT/REAR DOOR-MISSING,Vacant,False,True,...,"(41.79664363243668, -87.64767736399192)",5351 S PEORIA ST,1093,92,471,40139,2.9,17,031,612100
10,Vacant/Abandoned Building,17-01273638,03/07/2017,Rear,NaN,Boarded,NaN,Vacant,False,False,...,"(41.7323653029056, -87.63621783108337)",8913 S NORMAL AVE,2382,0,1079,32955,2.96,17,031,711500
11,Vacant/Abandoned Building,17-01279904,03/07/2017,Front,NaN,Open,REAR,Vacant,False,False,...,"(41.753044486622215, -87.67564202390682)",7741 S HOYNE AVE,4912,57,2072,38750,2.75,17,031,710400
12,Vacant/Abandoned Building,17-01270180,03/07/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"(41.713702712827164, -87.6478723600792)",9924 S MORGAN ST,3276,0,1515,71313,2.6,17,031,730600
13,Vacant/Abandoned Building,17-01264540,03/07/2017,Rear,NaN,Open,REAR,Vacant,False,True,...,"(41.81757833476708, -87.60461468061217)",4234 S DREXEL BLVD,3305,168,1391,56250,2.16,17,031,836400
14,Vacant/Abandoned Building,17-01272984,03/07/2017,Front,NaN,Boarded,NaN,Vacant,False,False,...,"(41.69342980118241, -87.6286280251961)",229 W 110TH PL,4785,28,2261,27344,3.92,17,031,491000
15,Vacant/Abandoned Building,17-01267097,03/07/2017,Front,NaN,Open,FRONT AND BACK,Vacant,False,True,...,"(41.71843645702715, -87.57098768341808)",9723 S MERRILL AVE,5988,54,2651,42528,3.15,17,031,510300
16,Vacant/Abandoned Building,17-01270179,03/07/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"(41.71325091623401, -87.63693747325561)",9956 S PARNELL AVE,4153,142,1539,55397,2.64,17,031,730500
17,Vacant/Abandoned Building,17-01271068,03/07/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"(41.8551133289699, -87.70656819151311)",1916 S SAWYER AVE,745,15,386,20893,3.07,17,031,841600
18,Vacant/Abandoned Building,17-01275946,03/07/2017,Front,NaN,Open,NaN,Vacant,False,False,...,"(41.91547798463339, -87.71569422349496)",3563 W CORTLAND ST,1146,968,621,25799,3.11,17,031,222800
19,Vacant/Abandoned Building,17-01267519,03/07/2017,Front,NaN,Open,NaN,Vacant,False,True,...,"(41.79476892009159, -87.80160181007675)",5333 S HARLEM AVE,5341,4452,2760,86973,2.87,17,031,560900
20,Vacant/Abandoned Building,17-01289702,03/08/2017,Front,NaN,Open,FRONT DOOR AND FRONT WINDOWS OPEN,Vacant,False,False,...,"(41.77524761225995, -87.63051449709816)",6562 S ROSS AVE,3189,24,1404,22778,2.1,17,031,680900
21,Vacant/Abandoned Building,17-01280472,03/08/2017,Front,NaN,Open,NaN,Vacant,False,False,...,"(41.885470453217216, -87.71357907070485)",3500 W WALNUT ST,2475,51,1136,20417,2.45,17,031,836800
22,Vacant/Abandoned Building,17-01280474,03/08/2017,Front,NaN,Open,REAR,Vacant,False,False,...,"(41.88547400677216, -87.71367819121359)",3504 W WALNUT ST,2475,51,1136,20417,2.45,17,031,836800
23,Vacant/Abandoned Building,17-01282701,03/08/2017,Front,NaN,Boarded,NaN,Vacant,False,False,...,"(41.86737923972633, -87.65669407970934)",1158 S RACINE AVE,1602,648,751,77188,2.43,17,031,283200
24,Vacant/Abandoned Building,17-01291284,03/08/2017,Rear,NaN,Open,REAR,Vacant,False,True,...,"(41.754028102514305, -87.61502357867818)",7740 S DR MARTIN LUTHER KING JR DR,2658,20,1441,57904,2.87,17,031,691300
25,Vacant/Abandoned Building,17-01294000,03/08/2017,Front,NaN,Open,"FRONT, REAR AND SIDE",Vacant,False,True,...,"(41.76624891518887, -87.65293170031138)",7035 S MAY ST,3434,25,1640,19976,3.21,17,031,681100
26,Vacant/Abandoned Building,17-01280489,03/08/2017,Front,NaN,Open,REAR,Vacant,False,False,...,"(41.88547592270402, -87.7137281173678)",3506 W WALNUT ST,2475,51,1136,20417,2.45,17,031,836800
27,Vacant/Abandoned Building,17-01289716,03/08/2017,Front,NaN,Open,FRONT DOOR AND FRONT WINDOWS OPEN,Vacant,False,False,...,"(41.775522221491585, -87.63040871318917)",6548 S ROSS AVE,3189,24,1404,22778,2.1,17,031,680900
28,Vacant/Abandoned Building,17-01283669,03/08/2017,Rear,NaN,Open,NaN,Vacant,False,False,...,"(41.80071277525065, -87.65382719426199)",5143 S MAY ST,1528,6,669,27880,3.48,17,031,612000
29,Vacant/Abandoned Building,17-01283400,03/08/2017,Front,NaN,Open,NaN,Occupied,False,False,...,"(41.882245377327166, -87.73798152477195)",126 N KILBOURN AVE,1608,12,829,24279,4.03,17,031,260400
30,Vacant/Abandoned Building,17-01286880,03/08/2017,Rear,NaN,Open,NaN,Vacant,False,False,...,"(41.74926973194524, -87.66098536651955)",7955 S LAFLIN ST,1884,16,843,42535,3,17,031,710600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,Vacant/Abandoned Building,17-08485889,12/20/2017,Front,NaN,Open,NaN,Vacant,False,True,...,"(41.869895082920465, -87.70578402071433)",917 S KEDZIE AVE,2138,96,1139,32216,2.83,17,031,837300
2971,Vacant/Abandoned Building,17-08492105,12/20/2017,Front,NaN,Open,NaN,Vacant,False,False,...,"(41.77527666296558, -87.76438291378346)",5713 W 64TH PL,4352,3127,2090,37477,2.69,17,031,640600
2972,Vacant/Abandoned Building,17-08511094,12/21/2017,Rear,NaN,Boarded,REAR DOOR,Vacant,False,True,...,"(41.78669793238196, -87.66843777258137)",1753 W 59TH ST,1365,29,693,26767,3.29,17,031,670700
2973,Vacant/Abandoned Building,17-08519947,12/21/2017,Front,NaN,Boarded,BASEMENT DOOR,Vacant,False,False,...,"(41.88681645484486, -87.72690871883971)",4043 W CARROLL AVE,1230,25,546,26641,3.28,17,031,260200
2974,Vacant/Abandoned Building,17-08514515,12/21/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"(41.85162208953721, -87.63198581350848)",2244 S WENTWORTH AVE,3683,1359,1657,35833,3.03,17,031,829100
2975,Vacant/Abandoned Building,17-08528237,12/21/2017,Front,NaN,Open,FRONT DOOR,Vacant,False,False,...,"(41.759966484607084, -87.59204916843866)",7431 S KENWOOD AVE,3440,69,1335,26250,3,17,031,430400
2976,Vacant/Abandoned Building,17-08515003,12/21/2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"(41.69252387311462, -87.62815017837814)",210 W 111TH ST,4785,28,2261,27344,3.92,17,031,491000
2977,Vacant/Abandoned Building,17-08545065,12/22/2017,Front,NaN,Open,NaN,Vacant,False,True,...,"(41.758703538416725, -87.59295429738951)",1307 E 75TH ST,4375,108,1838,35662,2.32,17,031,834200
2978,Vacant/Abandoned Building,17-08535405,12/22/2017,Front,NaN,Open,NaN,Vacant,False,False,...,"(41.797787415193596, -87.64907300864101)",941 W 53RD ST,1093,92,471,40139,2.9,17,031,612100
2979,Vacant/Abandoned Building,17-08539279,12/22/2017,Front,NaN,Open,NaN,Vacant,False,True,...,"(41.762592489211876, -87.6479851782421)",7240 S SANGAMON ST,2624,0,1363,39324,2.83,17,031,681400
2980,Vacant/Abandoned Building,17-08548800,12/22/2017,Rear,NaN,Open,FRONT,Vacant,False,False,...,"(41.87806622673373, -87.74311145806536)",4715 W ADAMS ST,1685,21,664,36875,2.91,17,031,252101
2981,Vacant/Abandoned Building,17-08594775,12/25/2017,Front,NaN,Open,FRONT DOOR,Vacant,False,False,...,"(41.78439455701378, -87.66311800238918)",6030 S JUSTINE ST,1762,15,764,19509,3.2,17,031,670800
2982,Vacant/Abandoned Building,17-08591888,12/25/2017,Front,NaN,Boarded,NaN,Vacant,False,False,...,"(41.76429322730318, -87.64152077919857)",7152 S UNION AVE,2255,0,953,24591,2.84,17,031,681300
2983,Vacant/Abandoned Building,17-08601251,12/26/2017,Front,NaN,Open,NaN,Vacant,False,False,...,"(41.74675858975365, -87.60632268912543)",8146 S EVANS AVE,5278,102,2190,41579,2.25,17,031,440201
2984,Vacant/Abandoned Building,17-08599938,12/26/2017,Front,NaN,Open,NONE,Vacant,False,False,...,"(41.731116647652, -87.57071184117804)",9029 S PAXTON AVE,6301,148,2664,55255,2.67,17,031,480400
2985,Vacant/Abandoned Building,17-08615068,12/27/2017,Front,NaN,Open,NaN,Vacant,True,False,...,"(41.79913889460125, -87.6489245850259)",5230 S SANGAMON ST,1093,92,471,40139,2.9,17,031,612100
2986,Vacant/Abandoned Building,17-08619435,12/27/2017,Front,NaN,Boarded,NaN,Vacant,False,False,...,"(41.86206739029414, -87.7348380784462)",1417 S KOSTNER AVE,3769,31,1730,22067,3.05,17,031,290900
2987,Vacant/Abandoned Building,17-08615064,12/27/2017,Front,NaN,Open,NaN,Vacant,False,False,...,"(41.7976343336484, -87.66954425654014)",5300 S WOOD ST,1267,481,551,33698,2.89,17,031,611700
2988,Vacant/Abandoned Building,17-08620802,12/27/2017,Front,NaN,Open,FRONT DOOR,Vacant,False,True,...,"(41.75256564925165, -87.637100915753)",508 W 78TH ST,3104,97,1385,38145,2.96,17,031,691200
2989,Vacant/Abandoned Building,17-08642801,12/28/2017,Rear,NaN,Open,NaN,Vacant,False,False,...,"(41.685412235821204, -87.6143743160995)",332 E 115TH ST,2462,53,957,25458,2.34,17,031,491400
2990,Vacant/Abandoned Building,17-08638267,12/28/2017,Front,NaN,Open,NaN,Vacant,False,True,...,"(41.73005841688452, -87.55257275243086)",2939 E 91ST ST,4415,2264,2054,77417,2.76,17,031,821600
2991,Vacant/Abandoned Building,17-08659803,12/29/2017,Front,NaN,Open,BACK DOOR,Vacant,False,False,...,"(41.90294471228089, -87.69473933787263)",2713 W DIVISION ST,6501,4035,3727,48712,2.66,17,031,242600
2992,Vacant/Abandoned Building,17-08663448,12/29/2017,Front,NaN,Open,FRONT AND REAR,Vacant,False,True,...,"(41.7587070045567, -87.59264052034025)",1315 E 75TH ST,4375,108,1838,35662,2.32,17,031,834200
2993,Vacant/Abandoned Building,17-08656967,12/29/2017,Front,NaN,Boarded,NaN,Vacant,False,False,...,"(41.7824308663547, -87.64971452356546)",6148 S MORGAN ST,1444,15,704,21161,3.66,17,031,680600
2994,Vacant/Abandoned Building,17-08674767,12/29/2017,Front,NaN,Open,NaN,Vacant,False,False,...,"(41.7884902681546, -87.64743825241968)",5810 S PEORIA ST,2042,91,941,22542,3.39,17,031,834700
2995,Vacant/Abandoned Building,17-08663198,12/29/2017,Front,NaN,Open,DOORS/WINDOWS,Vacant,False,True,...,"(41.75307765582019, -87.65703185355363)",7755 S ADA ST,5397,143,2408,25747,2.8,17,031,710200
2996,Vacant/Abandoned Building,17-08668310,12/29/2017,Front,NaN,Boarded,NaN,Vacant,False,False,...,"(41.9325781319184, -87.74663565051274)",2840 N CICERO AVE,6686,2911,3634,36524,3.72,17,031,814200
2997,Vacant/Abandoned Building,17-08681436,12/30/2017,Front,NaN,Open,FRONT DOOR,Vacant,False,True,...,"(41.76534931286579, -87.61162592963872)",7123 S RHODES AVE,4431,62,1977,37850,2.66,17,031,690900
2998,Vacant/Abandoned Building,17-08682637,12/30/2017,Rear,NaN,Boarded,REAR,Vacant,False,True,...,"(41.794925473671796, -87.67554809926075)",5444 S SEELEY AVE,1604,256,798,33355,3.99,17,031,611600
2999,Vacant/Abandoned Building,17-08691267,12/31/2017,Front,NaN,Open,NaN,Vacant,False,True,...,"(41.793889898978954, -87.67678853964196)",2102 W GARFIELD BLVD,1604,256,798,33355,3.99,17,031,611600

In [222]:
def rank_by_tract(acs_df, data_aug):
    acs_df_modified = acs_df.dropna(subset=['Total Population', 'White', 'Male', 'Median Family Income', \
                                            'Average Household Size','State','County','Tract'])
    data_temp = data_aug['Tract'].value_counts().to_frame().reset_index()
    data_temp.columns = ['Tract', 'Counts']
    data_rank = pd.merge(data_temp, acs_df_modified, on='Tract')
    data_rank = data_rank.drop_duplicates(['Tract'])
    data_rank = data_rank.reset_index(drop=True)    
    return data_rank

In [223]:
# Types of blocks get 'Vacant/Abandoned Buildings Reported'
build_rank = rank_by_tract(build_acs_df, build_aug)
build_rank[:10]

,Tract,Counts,Total Population,White,Male,Median Family Income,Average Household Size,State,County
0,530200,47,4675,0,2255,27988,3.54,17,031
1,491000,46,4785,28,2261,27344,3.92,17,031
2,681400,38,2624,0,1363,39324,2.83,17,031
3,672000,36,3848,18,2186,42271,3.51,17,031
4,681100,33,3434,25,1640,19976,3.21,17,031
5,671300,32,1999,1,1028,38295,3.36,17,031
6,530503,29,5469,37,2436,40078,3.07,17,031
7,671500,29,3012,104,1370,23301,3.21,17,031
8,681000,29,3079,24,1426,26250,2.6,17,031
9,711000,28,3153,6,1459,32154,2.75,17,031

In [224]:
# Types of blocks get 'Alley Light Out'
light_rank = rank_by_tract(light_acs_df, light_aug)
light_rank[:10]

,Tract,Counts,Total Population,White,Male,Median Family Income,Average Household Size,State,County
0,460500,28,4768,125,1805,43634,2.22,17,031
1,842100,28,7111,844,3634,31682,3.32,17,031
2,530300,25,4638,96,2046,49850,3.21,17,031
3,730600,25,3276,0,1515,71313,2.6,17,031
4,640300,24,7018,4548,3306,77500,3.08,17,031
5,700402,23,4192,699,1947,62738,3.41,17,031
6,650301,22,5798,3258,3003,59471,3.69,17,031
7,700302,20,5314,3270,2699,68300,3.17,17,031
8,660400,19,6330,2195,2821,48295,4.3,17,031
9,530503,18,5469,37,2436,40078,3.07,17,031

In [225]:
# Blocks of 'Alley Light Out' over the past 3 months
light_aug['Month'] = pd.DatetimeIndex(light_aug['Creation Date']).month

In [296]:
light_Oct = light_aug[light_aug['Month']==10]
l10 = light_Oct['Tract'].value_counts()[:10].to_frame()
l10.rename(columns={'Tract':'Oct'},inplace=True)
l10

        Oct
031300   11
230700   10
230600    9
660400    8
460500    8
171000    7
730600    6
190402    5
842100    5
040600    5

In [298]:
light_Nov = light_aug[light_aug['Month']==11]
l11 = light_Nov['Tract'].value_counts()[:10].to_frame()
l11.rename(columns={'Tract':'Nov'},inplace=True)
l11

        Nov
640300   15
530300   14
650301   13
730600   12
251800   11
700402   11
842100   11
690900   10
561100   10
480400   10

In [299]:
light_Dec = light_aug[light_aug['Month']==12]
l12 = light_Dec['Tract'].value_counts()[:10].to_frame()
l12.rename(columns={'Tract':'Dec'},inplace=True)
l12

        Dec
842100   12
530300   10
700401   10
460500   10
700402    9
100600    9
150300    9
150700    8
700302    8
660400    8

In [300]:
light_over_time = pd.concat([l10,l11,l12], axis=1)
light_over_time

         Oct   Nov   Dec
031300  11.0   NaN   NaN
040600   5.0   NaN   NaN
100600   NaN   NaN   9.0
150300   NaN   NaN   9.0
150700   NaN   NaN   8.0
171000   7.0   NaN   NaN
190402   5.0   NaN   NaN
230600   9.0   NaN   NaN
230700  10.0   NaN   NaN
251800   NaN  11.0   NaN
460500   8.0   NaN  10.0
480400   NaN  10.0   NaN
530300   NaN  14.0  10.0
561100   NaN  10.0   NaN
640300   NaN  15.0   NaN
650301   NaN  13.0   NaN
660400   8.0   NaN   8.0
690900   NaN  10.0   NaN
700302   NaN   NaN   8.0
700401   NaN   NaN  10.0
700402   NaN  11.0   9.0
730600   6.0  12.0   NaN
842100   5.0  11.0  12.0

In [268]:
# Blocks of 'Vacant/Abandoned Buildings Reported' over the past 3 months
build_aug['Month'] = pd.DatetimeIndex(build_aug['DATE SERVICE REQUEST WAS RECEIVED']).month

In [289]:
build_Oct = build_aug[build_aug['Month']==10]
b10 = build_Oct['Tract'].value_counts()[:10].to_frame()
b10.rename(columns={'Tract':'Oct'},inplace=True)
b10

        Oct
710800    7
491000    7
440900    6
470100    6
530300    6
691100    6
691400    5
711400    5
490700    4
720400    4

In [290]:
build_Nov = build_aug[build_aug['Month']==11]
b11 = build_Nov['Tract'].value_counts()[:10].to_frame()
b11.rename(columns={'Tract':'Nov'},inplace=True)
b11

        Nov
491000    5
190300    5
681400    5
251800    4
834700    3
530503    3
530200    3
470100    3
190701    3
842100    3

In [292]:
build_Dec = build_aug[build_aug['Month']==12]
b12 = build_Dec['Tract'].value_counts()[:10].to_frame()
b12.rename(columns={'Tract':'Dec'},inplace=True)
b12

        Dec
834200    5
450300    4
834700    3
681400    3
491000    3
440201    3
460301    3
837300    3
680600    3
814200    2

In [293]:
build_over_time = pd.concat([b10,b11,b12], axis=1)
build_over_time

        Oct  Nov  Dec
190300  NaN  5.0  NaN
190701  NaN  3.0  NaN
251800  NaN  4.0  NaN
440201  NaN  NaN  3.0
440900  6.0  NaN  NaN
450300  NaN  NaN  4.0
460301  NaN  NaN  3.0
470100  6.0  3.0  NaN
490700  4.0  NaN  NaN
491000  7.0  5.0  3.0
530200  NaN  3.0  NaN
530300  6.0  NaN  NaN
530503  NaN  3.0  NaN
680600  NaN  NaN  3.0
681400  NaN  5.0  3.0
691100  6.0  NaN  NaN
691400  5.0  NaN  NaN
710800  7.0  NaN  NaN
711400  5.0  NaN  NaN
720400  4.0  NaN  NaN
814200  NaN  NaN  2.0
834200  NaN  NaN  5.0
834700  NaN  3.0  3.0
837300  NaN  NaN  3.0
842100  NaN  3.0  NaN

In [325]:
# Difference in blocks
br = build_rank
lr = light_rank

In [326]:
build_white_pct = br['White'].astype(int).mean()/br['Total Population'].astype(int).mean()
build_male_pct = br['Male'].astype(int).mean()/br['Total Population'].astype(int).mean()
light_white_pct = lr['White'].astype(int).mean()/lr['Total Population'].astype(int).mean()
light_male_pct = lr['Male'].astype(int).mean()/lr['Total Population'].astype(int).mean()

In [327]:
# male percentage and white percentage in blocks that get 'Vacant/Abandoned Buildings Reported' vs 'Alley Light Out'
mw_df = pd.DataFrame({'White': [build_white_pct, light_white_pct],\
                    'Male': [build_male_pct, light_male_pct]},\
                    index=['Vacant/Abandoned Buildings Reported', 'Alley Light Out'])
mw_df

                                         Male     White
Vacant/Abandoned Buildings Reported  0.477237  0.347539
Alley Light Out                      0.485105  0.477333

In [334]:
build_income = br['Median Family Income'].astype(float).mean()
build_house_size = br['Average Household Size'].astype(float).mean()
light_income = lr['Median Family Income'].astype(float).mean()
light_house_size = lr['Average Household Size'].astype(float).mean()

In [337]:
# average median income and average household size in blocks that get 
# 'Vacant/Abandoned Buildings Reported' vs 'Alley Light Out'
ih_df = pd.DataFrame({'Avg Median Family Income': [build_income, light_income],\
                    'Avg Household Size': [build_house_size, light_house_size]},\
                    index=['Vacant/Abandoned Buildings Reported', 'Alley Light Out'])
ih_df

,Avg Household Size,Avg Median Family Income
Vacant/Abandoned Buildings Reported,2.949752,48611.231982
Alley Light Out,2.812323,62599.214178